<!--验证完成界面-->
<link href="css/goVerification.css" rel="stylesheet">
<ion-view title="verificationSure" class="verificationSure">
    <ion-content>
      <ion-header-bar  class="bar-red" >
        <div class="buttons" ng-controller="myCommon">
          <button class="bar-back-icon" ng-click="goBack()"/>
        </div>
        <h1 class="title header-title">一道打假</h1>
        <div class="buttons">
          <button class="bar-message-icon" />
        </div>
      </ion-header-bar>

      <div class="yanzhengs">
        <div class="circle-font">
          <span class="circle"></span>
          <p>验证完成!</p>
        </div>
      </div>

     <ul class="list"  >
       <li class="item"><span class="list-first-word">品牌:</span> <span class="yanprolist">{{product.brand}}</span></li>
       <li class="item"><span class="list-first-word">产品类型:</span><span class="yanprolist">{{product.name}}</span></li>
       <li class="item"><span class="list-first-word">验证码:</span><span class="yanprolist">{{product.code}}</span></li>

     </ul>

      <div class="goVerifiPart3" ng-controller="verify">
        <span class="requestWord">第<span style="color:#DB6E77">N</span>次验证，向上位物主发送验证请求?</span>
        <p><button class="button button-red " ng-click="sendRequest()">确定</button></p>
        <div style="clear:both;"></div>
      </div>

    </ion-content>
</ion-view>
