<ion-view view-title="Home">
  <ion-content class="home-background">
    <ion-header-bar  class="bar-red" >
      <h1 class="title"></h1>
      <div class="buttons">
        <button class="bar-yanzheng-icon" />
      </div>
    </ion-header-bar>

    <div class="home-logo">
      <img ng-src="img/logo@2x.png" class="logo-center"/>
      <div class="home-logo-word">
        <p class="big-word">一道打假</p>
        <p class="small-word">让生活中少一些假冒伪劣，多一些诚信</p>
      </div>
    </div>


    <div class="list" ng-controller="getHomeList1">
      <a class="item item-icon-left position-icon" ng-repeat="item in dataList1" href="#">
        <p><span class="list-title">{{item.title}}</span> <span class="list-time ">{{item.time }} {{ item.reporter}}</span></p>
        <p id="list-content">{{item.content}}</p>
      </a>
    </div>

    <div class="list" ng-controller="getHomeList2" >
      <a class="item item-icon-left home-warn-icon" ng-repeat="item in dataList2" href="#">
        <p class="list2-p">
          <span class="list-title">{{item.title}}</span>
          <span class="list-time">{{item.time}}</span>
        </p>
      </a>
    </div>

    <ul ng-controller="getHomeList3" class="home-list3">
      <li ng-repeat="item in dataList3" class="li-title">
        <a href="#" class="item">
              <span class="circle">￥{{item.money}}</span><br/>
             <span class="circle-item2">{{item.reporter}}举报</span><br/>
             <span class="circle-item3">假冒{{item.product}}获得{{item.money}}元奖励</span><br/>
        </a>
      </li>
      <div style="clear: both"></div>
    </ul>

</ion-content>
</ion-view>
