<div class="bar bar-header  home-top-bar">
  <img src="../img/yanzheng07.png" class="bar-yanzheng-icon"/>
</div>

<div class="home-logo">
  <img src="../img/logo.png" class="logo-center"/>
  <div class="home-logo-word">
    <p class="big-word">一道打假</p>
    <p class="small-word">让生活中少一些假冒伪劣，多一些诚信</p>
  </div>
</div>

<div class="list">
  <a class="item item-icon-left" href="#">
    <i class="icon icon-position-cus"></i>
    河北省石家庄市惠民批发市场 <span>2015-12-21 李**举报</span>
  </a>
  <a class="item item-icon-left" href="#">
    <i class="icon icon-position-cus"></i>
    北京市大民批发市场<span>2015-12-21 李**举报</span>
  </a>
  <a class="item item-icon-left" href="#">
    <i class="icon icon-position-cus"></i>
    天津市人民批发市场<span>2015-12-21 李**举报</span>
  </a>
</div>
