<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- 首页 Tab -->
  <ion-tab title="首页" icon-off="home-icon-off" icon-on="home-icon-on" href="#/tab/home">
    <ion-nav-view name="tab-home"></ion-nav-view>
  </ion-tab>

  <!-- 验证 Tab -->
  <ion-tab title="验证" icon-off="code-icon-off" icon-on="code-icon-on" href="#/tab/verification">
    <ion-nav-view name="tab-verification">
    </ion-nav-view>

  </ion-tab>

  <!-- 举报 Tab -->
  <ion-tab title="举报" icon-off="jubao-icon-off" icon-on="jubao-icon-on" href="#/tab/report">
    <ion-nav-view name="tab-report"></ion-nav-view>

  </ion-tab>


  <!-- 我的 Tab -->
  <ion-tab title="我的" icon-off="my-info-off" icon-on="my-info-on" href="#/tab/my">
    <ion-nav-view name="tab-my"></ion-nav-view>
  </ion-tab>


</ion-tabs>
