<!--验证界面-->
<ion-view view-title="verification">
  <ion-content>
    <ion-header-bar  class="bar-red" >
      <div class="buttons">
        <button class="bar-yanzheng06-icon" />
      </div>
      <h1 class="title header-title">一道打假</h1>
      <div class="buttons">
        <button class="bar-yanzheng-icon" />
      </div>
    </ion-header-bar>

    <div class="verification-logo">
      <img ng-src="img/yanzheng04@2x.png" class="logo-center"/>

    </div>

    <div class="list list-inset">
      <label class="item item-input i1-icon " >
        <input type="text" class="list-input" placeholder="请输入品牌">
      </label>

      <label class="item item-input i2-icon">
        <input type="text" placeholder="请选择产品类型">
      </label>
    </div>
  </ion-content>
</ion-view>


