<!--验证界面-->
<link href="css/verification.css" rel="stylesheet">
<ion-view view-title="verification" >

  <ion-content>

    <ion-header-bar  class="bar-red" >
      <div class="buttons">
        <button class="bar-yanzheng06-icon" />
      </div>
      <h1 class="title header-title">一道打假</h1>
      <div class="buttons">
        <button class="bar-yanzheng-icon" />
      </div>
    </ion-header-bar>

    <div class="verification-logo">
      <img ng-src="img/yanzheng04@2x.png" class="logo-center"/>

    </div>

    <div class="list list-inset" ng-controller="mySubmit">
      <form ng-submit="codeSubmit()">
      <label class="item item-input i1-icon " >
        <input type="text" class="list-input" ng-model="product.brand" placeholder="请输入品牌">
      </label>

      <label class="item item-input item-select " >
        <select class="input-select i2-icon" ng-model="product.name" ng-controller="getVerSelectData">
          <option ng-repeat="data in datas" id="{{data.id}}}">{{data.name}}</option>
        </select>
      </label>

        <label class="item item-input i1-icon " >
          <input type="text" class="list-input" ng-model="product.code" placeholder="请输入验证码">
        </label>
        <p>
          <a class="button  scan-button" >扫描验证码</a>
          <input class="button input-button " type="submit" name="submit" value="确定">
        </p>
      </form>
    </div>


  </ion-content>

</ion-view>


