.verificationSure{
  background: #F4F4F4;
}
.yanzhengs{
  text-align:center;
  background:#FFFFFF;
}
.yanzhengs p{
  color:#656565;
  font-weight:bold;
}
.list{
  margin-top:-9px;
}
.list-first-word{
  color:#A9A9A9 ;
}
.yanprolist{
  float:right;
}
.goVerifiPart3{
  background:#FFFFFF;
  margin-top:5px;
}
.requestWord{
  float:left;
  color:#A9A9A9;
  margin-top:20px;
  text-indent:17px;
  letter-spacing:2px;

}
.goVerifiPart3 button {
  border: none;
  float:right;
  /*margin-right:15px;*/
  /*margin-top:23px;*/
  /*margin-bottom:10px;*/
  margin:23px 15px 10px 0px;
  width: 39%;
  height:47px;
}
.button-red{
  background: #BD0112;
}
.verifySuccessPart3{
  text-align:center;
}
.button-share{
  background:#54C957;
  color:#BAEABC;
  width:90%;

}
.verifyFalsePart3 button{
  border: none;
  float:right;
  margin:0px 25px 0px 0px;
  width: 39%;
  height:47px;
}
.button-jubao{
  background:#ED4A4B;
  color:#BAEABC;
}
.button-share-false{
  background:#54C957;
  color:#BAEABC;
}
