.content{
  background: #F4F4F4;
}
ul{
  background:#FFFFFF
}
.bar-red{
  background-color:#C50119;
  background-image:none;
  position:relative;
  border-style:none;
}
.bar-yanzheng-icon{
  width:24px;
  height:24px;
  background:url('../img/yanzheng07@2x.png') no-repeat center center;
  background-size:24px;
  border-width:0;

}

.home-logo{
  height: 200px;
  margin-top: -1px;
  background-image:url('../img/background.jpg');
  background-repeat: repeat;
}
.logo-center{
  clear: both;
  display: block;
  margin:auto;
  height: 130px;
  width: 130px;

}

.home-logo-word p{
  text-align:center;
  color:#ffffff;
}
.big-word{
 line-height: 30px;
 font-size:20px;
 font-family: Microsoft YaHei;
 font-weight: bold
}
.small-word{
  font-size:14px;
  font-family:FZShuTi;
}
.position-icon{
  height:55px;
  background:url('../img/position@2x.png') no-repeat 5px;
  background-size:32px;
  padding:10px 10px 10px 40px;
}
.list1-item-title{
  padding-top:1px;
  float:left
}
 .list1-item-time{
   padding-top:1px;
  float:right
}

.home-warn-icon{
  height:55px;
  background:url('../img/list2@2x.png') no-repeat 5px;
  background-size:32px;
  padding:10px 10px 10px 40px
}
.li-title{
  width: 50%;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
  course:hand;
}

.list1-content{
  color: #A2A2A2;
  font-size:8px;
}
.home-list2{
  margin:10px 0;
}
.home-list2 li{
  border-bottom:1px solid #ededed;
}
.home-list2-title{
  padding-top:8px;
  float:left;
}
.home-list2-time{
  padding-top:8px;
  float:right;
}

.list1-item-title , .home-list2-title{

  color:#363636;
  font-weight:normal;
}
.list1-item-time , .home-list2-time{

  color: #A2A2A2;
  font-size:8px;
}
.home-list3{
  padding:5px 0;
}
.home-list3 li{
  float:left;
  width:33.333%;
  text-align:center;
  padding:10px 0px;
  border-right:1px solid #ededed;

}
.home-list3 li:last-child{
  border-right:0px;
}

 a{
  text-decoration:none;
}

.circle{
  font-size:14px;
  width:60px;
  height:60px;
  background: #e64647;
  color:#fff;
  line-height:53px;
  text-align:center;
  display:inline-block;
  border-radius:50%;
  padding:5px;
}
.sub-item2{
  color:#363636;
  font-size:14px;
}
.sub-item3{
  color: #A2A2A2;
  font-size:10px;
}
