.home-background{
  background: #F4F4F4;
}
.bar-red{
  background-color:#C50119;
  background-image:none;
  position:relative;
  border-style:none;
}
.bar-yanzheng-icon{
  width:24px;
  height:24px;
  background:url('../img/yanzheng07@2x.png') no-repeat center center;
  background-size:24px;
  border-width:0;

}

.home-logo{
  height: 200px;
  margin-top: -1px;
  background-image:url('../img/background.jpg');
  background-repeat: repeat;
}
.logo-center{
  clear: both;
  display: block;
  margin:auto;
  height: 130px;
  width: 130px;

}

.home-logo-word p{
  text-align:center;
  color:#ffffff;
}
.big-word{
 line-height: 30px;
 font-size:20px;
 font-family: Microsoft YaHei;
 font-weight: bold
}
.small-word{
  font-size:14px;
  font-family:FZShuTi;
}
.position-icon{
  height:55px;
  background:url('../img/position@2x.png') no-repeat 3px;
  background-size:32px;
}
.list,.home-list3{
  background: #FFFFFF;
}
.list{
  margin-bottom:10px;
}
.list p{
  margin-top:-5px;
  margin-left:-15px;
}
.list-title{
  float:left;
  width:60%;
  overflow:hidden;
  text-overflow: ellipsis;
  white-space:nowrap;
  course:hand;
  color:#363636;
  font-weight:normal;
}
.list-time{
  padding-top:1px;
  float:right
}
#list-content , .list-time{
  color: #A2A2A2;
  font-size:8px;
}
.home-warn-icon{
  height:55px;
  background:url('../img/list2@2x.png') no-repeat 3px;
  background-size:32px;
}
.list2-p{
  padding-top:5px;
}

.home-list3 li{
  float:left;
  width:33.333%;
  text-align:center;
  border-right:1px solid #ededed;

}
.home-list3 a{
  border-top:0px;
}
.home-list3 li:last-child{
  border-right:0px;

}

a{
  text-decoration:none;
}

.circle{
  font-size:14px;
  width:60px;
  height:60px;
  background: #e64647;
  color:#fff;
  line-height:53px;
  text-align:center;
  display:inline-block;
  border-radius:50%;
  padding:5px;
}
.circle-item2{
  color:#363636;
  font-size:14px;
}
.circle-item3{
  color: #A2A2A2;
  font-size:10px;
}
