.home-icon-off{
  background:url('../img/menu-icon/home.png') no-repeat  center;

}
.home-icon-on{
  background:url('../img/menu-icon/home-s.png') no-repeat center;

}
.code-icon-off{
  background:url('../img/menu-icon/code.png') no-repeat center;
}

.code-icon-on{
  background:url('../img/menu-icon/code-s.png') no-repeat center;
}

.jubao-icon-off{
  background:url('../img/menu-icon/jubao.png') no-repeat center;
}
.jubao-icon-on{
  background:url('../img/menu-icon/jubao-s.png') no-repeat center;
}
.my-info-off{
  background:url('../img/menu-icon/my.png') no-repeat center;
}
.my-info-on{
  background:url('../img/menu-icon/my-select.png') no-repeat center;
}
.tab-item-active{
  color:red;
}
