.bar-yanzheng06-icon{
  width:24px;
  height:24px;
  background:url('../img/yanzheng06@2x.png') no-repeat center center;
  background-size:24px;
  border-width:0;
}
.verification-logo{
  height: 200px;
  margin-top: -1px;
  background-image:url('../img/background.jpg');
  background-repeat: repeat;
}
.list-inset input {
  padding-left:14px;

}
.list-inset{
  margin:0;
}
.i1-icon{
  height: 50%;
  width: 100%;
  background:url('../img/yanzheng01@2x.png') no-repeat 0px center;
  background-size:25px;
}
.item-select{
  height:47px
}
.item-select .i2-icon{
  /*height:50px;*/
  background:url('../img/yanzheng02@2x.png') no-repeat 0px center;
  background-size:25px;

}

.input-select{
  width: 100%;
  max-width:100% !important;
  left:0px !important;
  direction:ltr !important;
  padding-left:30px !important;
}
.scan-button{
  float:left;
  width: 43%;
  color:#FFFFFF;
  background:#ED4A4B;
  margin:15px 0 0 25px;
}

.scan-button:active{
  background:#F52929;
}
.input-button{
  float:right;
  width:43%;
  color:#FFFFFF;
  background: #FF9600;
  margin:15px 10px 0 0;

}
.input-button:active{
  background:#FF7900
}
